<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-bankcard-info-heading" jhiTranslate="dtlAppMockApp.bankcardInfo.home.createOrEditLabel">Create or edit a Bankcard Info</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!bankcardInfo.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="bankcardInfo.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlAppMockApp.bankcardInfo.userId" for="field_userId">User Id</label>
                    <input type="number" class="form-control" name="userId" id="field_userId"
                        [(ngModel)]="bankcardInfo.userId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlAppMockApp.bankcardInfo.bankName" for="field_bankName">Bank Name</label>
                    <input type="text" class="form-control" name="bankName" id="field_bankName"
                        [(ngModel)]="bankcardInfo.bankName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlAppMockApp.bankcardInfo.bankAccountName" for="field_bankAccountName">Bank Account Name</label>
                    <input type="text" class="form-control" name="bankAccountName" id="field_bankAccountName"
                        [(ngModel)]="bankcardInfo.bankAccountName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlAppMockApp.bankcardInfo.bankCardNum" for="field_bankCardNum">Bank Card Num</label>
                    <input type="text" class="form-control" name="bankCardNum" id="field_bankCardNum"
                        [(ngModel)]="bankcardInfo.bankCardNum" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlAppMockApp.bankcardInfo.bankCardImgId" for="field_bankCardImgId">Bank Card Img Id</label>
                    <input type="number" class="form-control" name="bankCardImgId" id="field_bankCardImgId"
                        [(ngModel)]="bankcardInfo.bankCardImgId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlAppMockApp.bankcardInfo.status" for="field_status">Status</label>
                    <input type="number" class="form-control" name="status" id="field_status"
                        [(ngModel)]="bankcardInfo.status" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlAppMockApp.bankcardInfo.createTime" for="field_createTime">Create Time</label>
                    <div class="d-flex">
                        <input id="field_createTime" type="datetime-local" class="form-control" name="createTime" [(ngModel)]="createTime"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlAppMockApp.bankcardInfo.lastModifyTime" for="field_lastModifyTime">Last Modify Time</label>
                    <div class="d-flex">
                        <input id="field_lastModifyTime" type="datetime-local" class="form-control" name="lastModifyTime" [(ngModel)]="lastModifyTime"
                        />
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
