<div>
    <h2 id="page-heading">
        <span jhiTranslate="dtlAppMockApp.userRole.home.title">User Roles</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-role" [routerLink]="['/user-role/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="dtlAppMockApp.userRole.home.createLabel">
            Create new User Role
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="userRoles">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="dtlAppMockApp.userRole.name">Name</span></th>
            <th><span jhiTranslate="dtlAppMockApp.userRole.status">Status</span></th>
            <th><span jhiTranslate="dtlAppMockApp.userRole.createTime">Create Time</span></th>
            <th><span jhiTranslate="dtlAppMockApp.userRole.lastModifyTime">Last Modify Time</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userRole of userRoles ;trackBy: trackId">
                <td><a [routerLink]="['/user-role', userRole.id, 'view' ]">{{userRole.id}}</a></td>
                <td>{{userRole.name}}</td>
                <td>{{userRole.status}}</td>
                <td>{{userRole.createTime | date:'medium'}}</td>
                <td>{{userRole.lastModifyTime | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/user-role', userRole.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-role', userRole.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-role/'+ userRole.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
