<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-recommend-record-heading" jhiTranslate="dtlAppMockApp.recommendRecord.home.createOrEditLabel">Create or edit a Recommend Record</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!recommendRecord.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="recommendRecord.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlAppMockApp.recommendRecord.recUserId" for="field_recUserId">Rec User Id</label>
                    <input type="number" class="form-control" name="recUserId" id="field_recUserId"
                        [(ngModel)]="recommendRecord.recUserId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlAppMockApp.recommendRecord.userId" for="field_userId">User Id</label>
                    <input type="number" class="form-control" name="userId" id="field_userId"
                        [(ngModel)]="recommendRecord.userId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlAppMockApp.recommendRecord.status" for="field_status">Status</label>
                    <input type="number" class="form-control" name="status" id="field_status"
                        [(ngModel)]="recommendRecord.status" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlAppMockApp.recommendRecord.identityFlag" for="field_identityFlag">Identity Flag</label>
                    <input type="text" class="form-control" name="identityFlag" id="field_identityFlag"
                        [(ngModel)]="recommendRecord.identityFlag" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlAppMockApp.recommendRecord.createTime" for="field_createTime">Create Time</label>
                    <div class="d-flex">
                        <input id="field_createTime" type="datetime-local" class="form-control" name="createTime" [(ngModel)]="createTime"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlAppMockApp.recommendRecord.lastModifyTime" for="field_lastModifyTime">Last Modify Time</label>
                    <div class="d-flex">
                        <input id="field_lastModifyTime" type="datetime-local" class="form-control" name="lastModifyTime" [(ngModel)]="lastModifyTime"
                        />
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
