<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="image">
            <h2><span jhiTranslate="dtlAppMockApp.image.detail.title">Image</span> {{image.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="dtlAppMockApp.image.name">Name</span></dt>
                <dd>
                    <span>{{image.name}}</span>
                </dd>
                <dt><span jhiTranslate="dtlAppMockApp.image.url">Url</span></dt>
                <dd>
                    <span>{{image.url}}</span>
                </dd>
                <dt><span jhiTranslate="dtlAppMockApp.image.size">Size</span></dt>
                <dd>
                    <span>{{image.size}}</span>
                </dd>
                <dt><span jhiTranslate="dtlAppMockApp.image.pixel">Pixel</span></dt>
                <dd>
                    <span>{{image.pixel}}</span>
                </dd>
                <dt><span jhiTranslate="dtlAppMockApp.image.format">Format</span></dt>
                <dd>
                    <span>{{image.format}}</span>
                </dd>
                <dt><span jhiTranslate="dtlAppMockApp.image.originalFileName">Original File Name</span></dt>
                <dd>
                    <span>{{image.originalFileName}}</span>
                </dd>
                <dt><span jhiTranslate="dtlAppMockApp.image.createTime">Create Time</span></dt>
                <dd>
                    <span>{{image.createTime}}</span>
                </dd>
                <dt><span jhiTranslate="dtlAppMockApp.image.lastModifyTime">Last Modify Time</span></dt>
                <dd>
                    <span>{{image.lastModifyTime}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/image', image.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
