<div>
    <h2 id="page-heading">
        <span jhiTranslate="dtlAppMockApp.realnameAuthRecord.home.title">Realname Auth Records</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-realname-auth-record" [routerLink]="['/realname-auth-record/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="dtlAppMockApp.realnameAuthRecord.home.createLabel">
            Create new Realname Auth Record
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="realnameAuthRecords">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="dtlAppMockApp.realnameAuthRecord.txnId">Txn Id</span></th>
            <th><span jhiTranslate="dtlAppMockApp.realnameAuthRecord.userId">User Id</span></th>
            <th><span jhiTranslate="dtlAppMockApp.realnameAuthRecord.realName">Real Name</span></th>
            <th><span jhiTranslate="dtlAppMockApp.realnameAuthRecord.idCardNum">Id Card Num</span></th>
            <th><span jhiTranslate="dtlAppMockApp.realnameAuthRecord.idCardImgA">Id Card Img A</span></th>
            <th><span jhiTranslate="dtlAppMockApp.realnameAuthRecord.idCardImgB">Id Card Img B</span></th>
            <th><span jhiTranslate="dtlAppMockApp.realnameAuthRecord.authStatus">Auth Status</span></th>
            <th><span jhiTranslate="dtlAppMockApp.realnameAuthRecord.auditOpinion">Audit Opinion</span></th>
            <th><span jhiTranslate="dtlAppMockApp.realnameAuthRecord.auditStaffName">Audit Staff Name</span></th>
            <th><span jhiTranslate="dtlAppMockApp.realnameAuthRecord.createTime">Create Time</span></th>
            <th><span jhiTranslate="dtlAppMockApp.realnameAuthRecord.lastModifyTime">Last Modify Time</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let realnameAuthRecord of realnameAuthRecords ;trackBy: trackId">
                <td><a [routerLink]="['/realname-auth-record', realnameAuthRecord.id, 'view' ]">{{realnameAuthRecord.id}}</a></td>
                <td>{{realnameAuthRecord.txnId}}</td>
                <td>{{realnameAuthRecord.userId}}</td>
                <td>{{realnameAuthRecord.realName}}</td>
                <td>{{realnameAuthRecord.idCardNum}}</td>
                <td>{{realnameAuthRecord.idCardImgA}}</td>
                <td>{{realnameAuthRecord.idCardImgB}}</td>
                <td>{{realnameAuthRecord.authStatus}}</td>
                <td>{{realnameAuthRecord.auditOpinion}}</td>
                <td>{{realnameAuthRecord.auditStaffName}}</td>
                <td>{{realnameAuthRecord.createTime | date:'medium'}}</td>
                <td>{{realnameAuthRecord.lastModifyTime | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/realname-auth-record', realnameAuthRecord.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/realname-auth-record', realnameAuthRecord.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'realname-auth-record/'+ realnameAuthRecord.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
