<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-enterprise-info-heading" jhiTranslate="dtlAppMockApp.enterpriseInfo.home.createOrEditLabel">Create or edit a Enterprise Info</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!enterpriseInfo.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="enterpriseInfo.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlAppMockApp.enterpriseInfo.userId" for="field_userId">User Id</label>
                    <input type="number" class="form-control" name="userId" id="field_userId"
                        [(ngModel)]="enterpriseInfo.userId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlAppMockApp.enterpriseInfo.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="enterpriseInfo.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlAppMockApp.enterpriseInfo.legalPersonName" for="field_legalPersonName">Legal Person Name</label>
                    <input type="text" class="form-control" name="legalPersonName" id="field_legalPersonName"
                        [(ngModel)]="enterpriseInfo.legalPersonName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlAppMockApp.enterpriseInfo.legalPersonIdCardNum" for="field_legalPersonIdCardNum">Legal Person Id Card Num</label>
                    <input type="text" class="form-control" name="legalPersonIdCardNum" id="field_legalPersonIdCardNum"
                        [(ngModel)]="enterpriseInfo.legalPersonIdCardNum" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlAppMockApp.enterpriseInfo.legalPersonMobile" for="field_legalPersonMobile">Legal Person Mobile</label>
                    <input type="text" class="form-control" name="legalPersonMobile" id="field_legalPersonMobile"
                        [(ngModel)]="enterpriseInfo.legalPersonMobile" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlAppMockApp.enterpriseInfo.enterpriseTel" for="field_enterpriseTel">Enterprise Tel</label>
                    <input type="text" class="form-control" name="enterpriseTel" id="field_enterpriseTel"
                        [(ngModel)]="enterpriseInfo.enterpriseTel" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlAppMockApp.enterpriseInfo.businessLicenseImgId" for="field_businessLicenseImgId">Business License Img Id</label>
                    <input type="number" class="form-control" name="businessLicenseImgId" id="field_businessLicenseImgId"
                        [(ngModel)]="enterpriseInfo.businessLicenseImgId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlAppMockApp.enterpriseInfo.status" for="field_status">Status</label>
                    <input type="number" class="form-control" name="status" id="field_status"
                        [(ngModel)]="enterpriseInfo.status" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlAppMockApp.enterpriseInfo.createTime" for="field_createTime">Create Time</label>
                    <div class="d-flex">
                        <input id="field_createTime" type="datetime-local" class="form-control" name="createTime" [(ngModel)]="createTime"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlAppMockApp.enterpriseInfo.lastModifyTime" for="field_lastModifyTime">Last Modify Time</label>
                    <div class="d-flex">
                        <input id="field_lastModifyTime" type="datetime-local" class="form-control" name="lastModifyTime" [(ngModel)]="lastModifyTime"
                        />
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
