<div>
    <h2 id="page-heading">
        <span jhiTranslate="dtlAppMockApp.userLevel.home.title">User Levels</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-level" [routerLink]="['/user-level/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="dtlAppMockApp.userLevel.home.createLabel">
            Create new User Level
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="userLevels">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="dtlAppMockApp.userLevel.name">Name</span></th>
            <th><span jhiTranslate="dtlAppMockApp.userLevel.integralRule">Integral Rule</span></th>
            <th><span jhiTranslate="dtlAppMockApp.userLevel.userIdentity">User Identity</span></th>
            <th><span jhiTranslate="dtlAppMockApp.userLevel.status">Status</span></th>
            <th><span jhiTranslate="dtlAppMockApp.userLevel.createTime">Create Time</span></th>
            <th><span jhiTranslate="dtlAppMockApp.userLevel.lastModifyTime">Last Modify Time</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userLevel of userLevels ;trackBy: trackId">
                <td><a [routerLink]="['/user-level', userLevel.id, 'view' ]">{{userLevel.id}}</a></td>
                <td>{{userLevel.name}}</td>
                <td>{{userLevel.integralRule}}</td>
                <td>{{userLevel.userIdentity}}</td>
                <td>{{userLevel.status}}</td>
                <td>{{userLevel.createTime | date:'medium'}}</td>
                <td>{{userLevel.lastModifyTime | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/user-level', userLevel.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-level', userLevel.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-level/'+ userLevel.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
