<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="staff">
            <h2><span jhiTranslate="dtlAppMockApp.staff.detail.title">Staff</span> {{staff.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="dtlAppMockApp.staff.staffName">Staff Name</span></dt>
                <dd>
                    <span>{{staff.staffName}}</span>
                </dd>
                <dt><span jhiTranslate="dtlAppMockApp.staff.password">Password</span></dt>
                <dd>
                    <span>{{staff.password}}</span>
                </dd>
                <dt><span jhiTranslate="dtlAppMockApp.staff.realName">Real Name</span></dt>
                <dd>
                    <span>{{staff.realName}}</span>
                </dd>
                <dt><span jhiTranslate="dtlAppMockApp.staff.status">Status</span></dt>
                <dd>
                    <span>{{staff.status}}</span>
                </dd>
                <dt><span jhiTranslate="dtlAppMockApp.staff.createTime">Create Time</span></dt>
                <dd>
                    <span>{{staff.createTime}}</span>
                </dd>
                <dt><span jhiTranslate="dtlAppMockApp.staff.lastModifyTime">Last Modify Time</span></dt>
                <dd>
                    <span>{{staff.lastModifyTime}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/staff', staff.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
